body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.table 
{
    display:table;
    border-collapse: collapse;
}
form.tr, div.tr
{
    display:table-row;
    border-bottom: solid white 30px;    
    margin: 10px;
}
span.td
{
    display:table-cell;
}

.poolHeader {
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: 900;
}

.poolContainer {
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    border: 2px solid #aaddee;
    border-radius: 10px;
    margin: 5px;    
}

.poolButton {
    width: 10%;
    float: left;
    background: #aaddee;
    height: 40px;
}

.poolRank {
    width: 20%;
    float: left;
    background: #aaddee;
    height: 40px;
}

.poolName {
    width: 40%;
    float: left;
    background: #aaddee;
    height: 40px;
}

.poolScore {
    width: 30%;
    float: left;
    background: #aaddee;
    height: 40px;
}

.poolDetails {
    width: 100%;
}

.poolAthleteContainer {
    background: #eeffdd;
    margin: 5px;
    border: 1px solid black;
}

.poolAthleteGroupHeader {
    width: 30%;
    float: left;
    color: #6688aa;
}

.poolAthleteName {
    color: #000000;
}

.poolTeamContainer {
    background: #efffef;
    margin: 5px;
    border: 1px solid black;
}

.poolTeamRoundHeader {
    background: #ddeedd;
    border: 1px solid black;
}

.poolTeamRound {

}
