@using KS.SportsPool.Data.POCO;
@model IEnumerable<Team>

@{ 
    var conferences = Model.GroupBy(te => te.Conference);
}

<p id="errorMessage" style="color: #ff0000; font-size:large;">
    @ViewBag.Error
</p>
<p id="successMessage" style="color: #00ff00; font-size:large;">
    @ViewBag.Success
</p>

@{
    foreach(var conference in conferences)
    {
        Team teamConference = conference.FirstOrDefault();
        <div>
            <h2>
                @teamConference.Conference
            </h2>
        </div>
        foreach (var division in conference.GroupBy(te => te.Division))
        {
            Team teamDivision = division.FirstOrDefault();
            <div>
                <h3>
                    @teamDivision.Division
                </h3>
            </div>
            <div class="table">
                <div class="tr">
                    <span class="td">&nbsp;</span>
                    <span class="td">Name</span>
                    <span class="td">Abbreviation</span>
                    <span class="td">Round 1</span>
                    <span class="td">Round 2</span>
                    <span class="td">Round 3</span>
                    <span class="td">Round 4</span>                    
                </div>
                @foreach (Team team in division)
                {
                    Html.RenderPartial("TeamGrid", team);
                }
            </div>
        }
    }
}
