<div style="width: 100%; text-align: center;">
    <h1>@ViewBag.Title</h1>    
    <div>
        <img src="~/Images/NHL_Shield.png" />
    </div>
    <a href="/Home/Pools" class="btn btn-primary">Pools</a>
</div>
