@using KS.SportsPool.Data.POCO
@model IEnumerable<PoolEntry>

<div style="width: 100%; text-align: center;">
    <h1>@ViewBag.Title</h1>   
    <h3>1st Prize $@ViewBag.Prizes[0]&nbsp;2nd Prize $@ViewBag.Prizes[1]&nbsp;3rd Prize $@ViewBag.Prizes[2]</h3>
    <div class="poolHeader">
        <div class="poolButton">&nbsp;</div>
        <div class="poolRank">Rank</div>
        <div class="poolName">Name</div>
        <div class="poolScore">Score</div>
    </div>
    <div style="clear: both;"></div>
    @foreach (PoolEntry entry in Model)
    {
        Html.RenderPartial("PoolGrid", entry);
    }    
</div>

@section scripts {
    <script type="text/javascript">
        var loaded = {};
        var visible = {};
        function togglePanel(id) {
            var element = $('#PoolEntry' + id);
            if (!loaded[id]) {
                $.post('/Home/PoolEntryDetails/' + id, function (data) {
                    element.html(data);
                });
                loaded[id] = true;
                visible[id] = true;
                return;
            }

            if (!visible[id]) {
                element.show();
                visible[id] = true;
            } else {
                element.hide();
                visible[id] = false;
            }            
        }
    </script>
}